doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/iconfont/iconfont.css')
    link(rel='stylesheet', href='/css/common.css')
    block style
  body
    h1.siteTitle Local Library
    //- div.container-wrap
    block sidebar
      //- span#menu-icon.iconfont.icon-caidan.menu
      #menu.sidebar-nav
        ul
          li
            a(href="/catalog") 主页
          li
            a(href="/catalog/books") 书单列表
          li
            a(href="/catalog/authors") 作者列表
          li
            a(href="/catalog/genres") 类别列表
          li
            a(href="/catalog/bookinstances") 实例列表
        ul
          li 
            a(href='/catalog/author/create') 新增作者
          li 
            a(href='/catalog/genre/create') 新增类别
          li 
            a(href='/catalog/book/create') 新增书本
          li 
            a(href='/catalog/bookinstance/create') 新增实例(副本)
    .content-wrap
      block content
