extends ../layout

block content
  h1= title
  ul
    if book_list && book_list.length > 0
    each val in book_list
      li
        a(href=val.url) #{val.title}
        | #{val.autho}
    else
      li No Book List